
*.cache
src/GradeBook/obj/*
src/GradeBook/bin/*
*.pdb
*.dll
*.cache
.vs/GradeBook/DesignTimeBuild/.dtbcache
.vs/GradeBook/lut/0/0/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.deps.json
.vs/GradeBook/lut/0/0/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.dev.json
.vs/GradeBook/lut/0/0/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.json
.vs/GradeBook/lut/0/0/GradeBook/Debug/netcoreapp2.2/GradeBook.deps.json
.vs/GradeBook/lut/0/0/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.dev.json
.vs/GradeBook/lut/0/0/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.json
.vs/GradeBook/lut/0/1/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.deps.json
.vs/GradeBook/lut/0/1/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.dev.json
.vs/GradeBook/lut/0/1/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.json
.vs/GradeBook/lut/0/1/GradeBook/Debug/netcoreapp2.2/GradeBook.deps.json
.vs/GradeBook/lut/0/1/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.dev.json
.vs/GradeBook/lut/0/1/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.json
.vs/GradeBook/lut/0/b/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.deps.json
.vs/GradeBook/lut/0/b/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.dev.json
.vs/GradeBook/lut/0/b/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.json
.vs/GradeBook/lut/0/b/GradeBook/Debug/netcoreapp2.2/GradeBook.deps.json
.vs/GradeBook/lut/0/b/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.dev.json
.vs/GradeBook/lut/0/b/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.json
.vs/GradeBook/lut/0/buildstate.lut
.vs/GradeBook/lut/0/i/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.AssemblyInfo.cs
.vs/GradeBook/lut/0/i/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.csproj.CopyComplete
.vs/GradeBook/lut/0/i/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.csproj.FileListAbsolute.txt
.vs/GradeBook/lut/0/i/GradeBook/Debug/netcoreapp2.2/GradeBook.AssemblyInfo.cs
.vs/GradeBook/lut/0/i/GradeBook/Debug/netcoreapp2.2/GradeBook.csproj.CopyComplete
.vs/GradeBook/lut/0/i/GradeBook/Debug/netcoreapp2.2/GradeBook.csproj.FileListAbsolute.txt
.vs/GradeBook/lut/0/t/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.deps.json
.vs/GradeBook/lut/0/t/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.dev.json
.vs/GradeBook/lut/0/t/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.json
.vs/GradeBook/lut/0/t/GradeBook/Debug/netcoreapp2.2/GradeBook.deps.json
.vs/GradeBook/lut/0/t/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.dev.json
.vs/GradeBook/lut/0/t/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.json
.vs/GradeBook/lut/31936/0/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.deps.json
.vs/GradeBook/lut/31936/0/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.dev.json
.vs/GradeBook/lut/31936/0/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.json
.vs/GradeBook/lut/31936/0/GradeBook/Debug/netcoreapp2.2/GradeBook.deps.json
.vs/GradeBook/lut/31936/0/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.dev.json
.vs/GradeBook/lut/31936/0/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.json
.vs/GradeBook/lut/31936/1/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.deps.json
.vs/GradeBook/lut/31936/1/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.dev.json
.vs/GradeBook/lut/31936/1/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.json
.vs/GradeBook/lut/31936/1/GradeBook/Debug/netcoreapp2.2/GradeBook.deps.json
.vs/GradeBook/lut/31936/1/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.dev.json
.vs/GradeBook/lut/31936/1/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.json
.vs/GradeBook/lut/31936/b/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.deps.json
.vs/GradeBook/lut/31936/b/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.dev.json
.vs/GradeBook/lut/31936/b/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.json
.vs/GradeBook/lut/31936/b/GradeBook/Debug/netcoreapp2.2/GradeBook.deps.json
.vs/GradeBook/lut/31936/b/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.dev.json
.vs/GradeBook/lut/31936/b/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.json
.vs/GradeBook/lut/31936/buildstate.lut
.vs/GradeBook/lut/31936/i/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.AssemblyInfo.cs
.vs/GradeBook/lut/31936/i/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.csproj.CopyComplete
.vs/GradeBook/lut/31936/i/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.csproj.FileListAbsolute.txt
.vs/GradeBook/lut/31936/i/GradeBook/Debug/netcoreapp2.2/GradeBook.AssemblyInfo.cs
.vs/GradeBook/lut/31936/i/GradeBook/Debug/netcoreapp2.2/GradeBook.csproj.CopyComplete
.vs/GradeBook/lut/31936/i/GradeBook/Debug/netcoreapp2.2/GradeBook.csproj.FileListAbsolute.txt
.vs/GradeBook/lut/31936/t/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.deps.json
.vs/GradeBook/lut/31936/t/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.dev.json
.vs/GradeBook/lut/31936/t/GradeBook.Tests/Debug/netcoreapp2.2/GradeBook.Tests.runtimeconfig.json
.vs/GradeBook/lut/31936/t/GradeBook/Debug/netcoreapp2.2/GradeBook.deps.json
.vs/GradeBook/lut/31936/t/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.dev.json
.vs/GradeBook/lut/31936/t/GradeBook/Debug/netcoreapp2.2/GradeBook.runtimeconfig.json
.vs/GradeBook/lut/coverage.lutdata
.vs/GradeBook/v16/.suo
.vs/GradeBook/v16/Server/sqlite3/db.lock
.vs/GradeBook/v16/Server/sqlite3/storage.ide
.vs/GradeBook/v16/Server/sqlite3/storage.ide-shm
.vs/GradeBook/v16/Server/sqlite3/storage.ide-wal
.vs/GradeBook/v16/TestStore/0/000-0000.testlog
.vs/GradeBook/v16/TestStore/0/testlog.manifest
src/GradeBook/bin/Debug/netcoreapp2.2/GradeBook.dll
src/GradeBook/bin/Debug/netcoreapp2.2/GradeBook.pdb
src/GradeBook/obj/Debug/netcoreapp2.2/GradeBook.csprojAssemblyReference.cache
src/GradeBook/obj/Debug/netcoreapp2.2/GradeBook.dll
src/GradeBook/obj/Debug/netcoreapp2.2/GradeBook.pdb
src/GradeBook/bin/Debug/netcoreapp2.2/GradeBook.dll
src/GradeBook/bin/Debug/netcoreapp2.2/GradeBook.pdb
src/GradeBook/obj/Debug/netcoreapp2.2/GradeBook.csprojAssemblyReference.cache
src/GradeBook/obj/Debug/netcoreapp2.2/GradeBook.dll
src/GradeBook/obj/Debug/netcoreapp2.2/GradeBook.pdb
src/GradeBook/bin/Debug/netcoreapp2.2/GradeBook.dll
src/GradeBook/bin/Debug/netcoreapp2.2/GradeBook.pdb
src/GradeBook/obj/Debug/netcoreapp2.2/GradeBook.csprojAssemblyReference.cache
src/GradeBook/obj/Debug/netcoreapp2.2/GradeBook.dll
src/GradeBook/obj/Debug/netcoreapp2.2/GradeBook.pdb
*.dll
*.pdb
